
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background: #d06464;
}
.logo{
    width: 70px;
    padding: 5px;
    border-radius: 55px;
    border: 2px solid black;
    background: #c30909;
}
.nav-items>ul{
    display: flex;
    list-style: none;
    margin-right: 60px;
    margin-top: 24px;
}
.nav-items>ul>li{
    padding-left: 50px;
}
/* -------Body------ */
.app-body{
    border: 1px solid;
    margin-top: 13px;
    padding: 15px;
}
.type-item{
    border: 2px solid brown;
    margin-right: 10px;
}
.btn-search{
    font-size: 18px;
    font-weight: 500;
    background: #ee1f1f;
    border-radius: 15px;
}
.rest-card{
    width: 215px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.rest-card:hover{
    border: 2px solid red;
    box-shadow: #ee1f1f;
    background-color: green;
    cursor: pointer;
}
.item-image{
    border: 1px solid;
    width: 215px;
}

.item-title{
    margin: 0;
}

h2,h3,h4,p{
    margin: 0;
}

.card-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5px;
}